torch
torchvision
torchsde
torchaudio
pillow
einops
safetensors
huggingface_hub
xformers
transformers
numpy
requests
psutil
scipy
comfyui-frontend-package
urllib3<2.0.0
onnxruntime-gpu
piexif
segment_anything